<!-- ABOUT BAND — cintillo previo a la seccion about -->
<div class="band" data-marquee data-speed="72" data-dir="-1" data-velocity>
  <div class="marquee">
    <div class="marquee__track">
      <div class="marquee__group">
        <span data-i18n="b1a">read <i class="dot">✳</i></span><span data-i18n="b1b">design <i class="dot">✳</i></span>
        <span data-i18n="b1c">refactor <i class="dot">✳</i></span><span data-i18n="b1d">ship <i class="dot">✳</i></span>
      </div>
    </div>
  </div>
</div>
