<section class="row bg-dark" id="about">


    <div class="col-md-6">
        <h3>Hola, soy Jhosno</h3>
        <p>Ayudo a diseñadores, agencias y negocios traer sus ideas a la vida.
            desarrollado por adobe XD, VS Code y música darkwave.
            <br>

            Convierto tus necesidades en páginas con gestores de contenido y ecommerces a buen tiempo.
            <br>
            Soy una persona orgnanizada, que aboga por la transparencia y la comunicación enfocada en la solución de
            problemas.
            <br>
            Adoro escuchar música, el café, mi gata, la ilustración y el diseño en muchas de sus vertientes.
            <br>
            Estoy enfocada en el trabajo frontend y trabajar en en proyectos grandes y enriquesedores. Preferiblemente
            de forma remota.</p>

    </div>

    <div class="col-md-6" >
        <div class="about-wrapper">

        </div>
    </div>

</section>