<section class="row bg-dark" id="about">


    <div class="col-md-6">
        <h3>¡Hola, soy Jhosno!</h3>
        <p>Me dedico a ayudar a diseñadores, organizaciones y negocios a encontrar soluciones  tecnológicas.

        </p>
<p>Convierto la música dark wave en código.</p>
<p>Conmigo puedes conseguir resultados eficientes y sostenibles a través de CMS, ecommerces y sistemas personalizados. Aparte de renovar y mantener módulos o vistas.</p>
<p>Adoro escuchar música, mi gata, la ilustración y el diseño en muchas de sus vertientes.</p>
<p>
Estoy enfocada en el trabajo frontend y trabajar en proyectos grandes y enriquecedores de forma remota.</p>
<p>
Aquí en mi blog podrás encontrar parte de mis experiencias y aprendizajes.</p>

<p>¿Quieres escuchar músiquita? Te dejo un playlist de Spotify</p>
 
<iframe src="https://open.spotify.com/embed/playlist/1v36VcdxRL1pQQfeam6VUr" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>




    </div>

    <div class="col-md-6" >
        <div class="about-wrapper"></div>
    </div>
<hr/>

</section>