<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img src="img/perfil.jpg" alt="¡Hola, soy Jhosno!" class="perfil img-responsive img-circle wow shake">
                <h2 class="section-heading">¡Hola, soy Jhosno!</h2>
                <hr class="light">
                <p class="text-faded">Hola, soy Jhosno, se pronuncia "Yosno", como decir "yo no" pero con S en el medio. Mi recorrido por el mundo de la informática es bastante precoz, soy hija de dos informáticos de profesión, así que veo máquinas y códigos desde que puedo recordar. <br>
Mi primera aventura con maquetacion web fue a los 15 años, como una ayuda para un proyecto de mi madre, seguido de muchos intentos motivados por el torrente de información que circula en Internet.  A los 16 años, opte por una carrera técnica mención informática, ahí conocí la lógica propocisional, algoritmos y pseudo código.  <br>
Mi primera experiencia con programación real fue un proyecto en python para escritorio que gestionaba los procesos de facturación e inventario de una automotriz.  Seguido de pequeños trabajos como diseñadora/desarrolladora Jr para algunos freelancer.  <br>
Mis últimos años universitarios estuvieron acompañados por el desarrollo y gestión de la app web BIVLU? que automática las tareas administrativas de la biblioteca de mi casa de estudios, la UPT Aragua. <br>
Tengo 3 años brindando soluciones tecnológicas a organizaciones. Si necesitas una herramienta tecnológica para tu negocio, puedo ingeniar una solución confiable para ti! </p>
                <a href="#services" class="btn btn-default btn-xl" >
                    ¡Empecemos!
                </a>
            </div>
        </div>
    </div>
</section>
