<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">¿Quieres ver un poco más?</h2>
                <hr class="light">
                <p class="text-faded">Puedes pasarte por mi página en codepen.io</p>
                <a href="https://codepen.io/jhosno" class="btn btn-default btn-xl" target="_blank">
                    <i class="fa fa-codepen" aria-hidden="true"></i>  ¡Aquí!
                </a>
            </div>
        </div>
    </div>
</section>
