<section class="bg-primary" id="about">
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                
      
                    <h2 class="section-heading">¡Hola, soy Jhosno!</h2>
                    <hr class="light">

                <p class="text-faded">
                    Soy una programadora profesional con más de tres años de experiencia, brindando soluciones a particulares, pequeñas y medianas empresas.Ubicada en Venezuela. He trabajado con diversas tecnologías web. Estoy especializada en PHP/Laravel y al mismo tiempo me apasiona el diseño web.
Actualmente estoy trabajando dominar diversos framework Javscript como Vue.js y React.js, al mismo tiempo que mejoro en el campo de wordpress y optimización SEO. 

                </p>
                <a href="#services" class="btn btn-default btn-xl" >
                    ¡Empecemos!
                </a>
                    
            </div>
        </div>
    </div>
</section>
