  <!-- Footer -->
  <footer class="bg-black border-t-4 border-golden py-8 text-center flex lg:flex-row flex-col ">
    <p class="text-left text-2xl font-bold">
        <span class="text-golden">©</span> 2025 <span class="text-salmon">Jhosno Hernández</span> 
        <span class="text-gray-400">- TODOS LOS DERECHOS RESERVADOS</span>
    </p>
    <div class="flex flex-row gap-2">
      <a
          href="https://linkedin.com/in/jhosno"
          target="_blank"
          rel="noopener noreferrer"
          class="w-10 h-10 bg-salmon text-black flex items-center justify-center hover:bg-purple hover:text-white transition-colors"
        >
          <i data-lucide="linkedin" class="w-5 h-5"></i>
        </a>

      <a
          href="https://github.com/jhosnodev"
          target="_blank"
          rel="noopener noreferrer"
          class="w-10 h-10 bg-golden text-black flex items-center justify-center hover:bg-salmon hover:text-white transition-colors"
        >
          <i data-lucide="github" class="w-5 h-5"></i>
        </a>

        <a
          href="https://twitter.com/jhosno"
          target="_blank"
          rel="noopener noreferrer"
          class="w-10 h-10 bg-purple text-black flex items-center justify-center hover:bg-golden hover:text-white transition-colors"
        >
          <i data-lucide="twitter" class="w-5 h-5"></i>
        </a>
    </div>
</footer>
