<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div class="img-header" id="shadow"><div>
            <img src="img/logo.png" class="img-header wow pulse" alt="JHosno | Responsive Web Designer & Developer">
            
            <h1>¿Necesitas una página/sistema web?</h1>
            <hr>
            <p> fRONTEND - PHP/LARAVEL - WORDPRESS</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">¡Conoce más!</a>
        </div>
    </div>
</header>
