<header>
    <div class="header-content ">
        <div class="header-content-inner row">
              <div class="col-md-6" >             
<h1>JHOSNO</h1>
            <hr>
            <p> FRONTEND • WORDPRESS • DESIGN</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Portafolio</a>
            </div>
            <div class="img-header col-md-6" id="shadow">
            <img src="img/logo.png" class="img-header img-fluid wow pulse" alt="JHosno | Responsive Web Designer & Developer">
<div>

            

        </div>
    </div>
</header>
