<div id="page-top"></div>
<section class="row bg-dark" id="header">
    <div class="col-md-6">
        <h1 class="text-center">Jhosno</h1>
        <h2 class="text-center">Fullstack developer</h2>


        <div class="rrss">
            <a href="https://github.com/jhosno"  target="_blank">
             <i class="flaticon-github" target
             ></i>
            </a>
            <a href="https://codepen.io/jhosno" target="_blank">
                <i class="flaticon-codepen"></i>
            </a>
             <a href="https://www.linkedin.com/in/jhosno/" target="_blank">
                 <i class="flaticon-linkedin"></i>
             </a>
         <a href="https://twitter.com/jhosno" target="_blank">
             <i class="flaticon-twitter"></i>
         </a>
<a href=""></a>
         
        </div>
        <hr>
       
            <a href="#portfolio" class="btn btn-primary ">
                Portafolio
            </a>
      


    </div>

</section>
