<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta
    name="description"
    content="👾👩‍💻 Developer y designer frontend, React / MERN stack, Laravel/PHP, Wordpress"
  />
  <meta name="author" content="Jhosno Hernández" />

  <meta
    name="theme-color"
    media="(prefers-color-scheme: light)"
    content="#420992"
  />
  <meta
    name="theme-color"
    media="(prefers-color-scheme: dark)"
    content="#181818"
  />

  <link
    rel="icon"
    href="/assets/images/faviconc.png"
    type="image/gif"
    sizes="16x16"
  />

  <!-- Google tag (gtag.js) -->
  {%include /head/google-analytics.html %}
  <!-- Open Graph tags -->
  {%include /head/open-graph-metadata.html %}

  <title>Jhosno | {{ page.title }}</title>

  <!-- TODO actualizar estos enlaces para producción -->

  <link rel="stylesheet" href="{{site.url}}//assets/css/output.css"/>
  <script src="{{site.url}}/assets/js/lucide.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap"
    rel="stylesheet"
  />

  <!-- Custom CSS - Para estilos específicos que no se puedan hacer con Tailwind -->
  <link rel="stylesheet" href="/assets/css/main.css" type="text/css" />
</head>
