<!-- Navigation -->
<nav
  class="fixed top-0 w-full bg-black/90 backdrop-blur-sm border-b-4 border-neon z-50"
>
  <div class="container mx-auto px-6 py-4">
    <ul class="flex justify-center gap-8 text-lg font-bold">
      <li>
        <a href="/" class="hover:text-neon transition-colors">INICIO</a>
      </li>

      <li>
        <a href="/about" class="hover:text-magenta transition-colors"
          >SOBRE MÍ</a
        >
      </li>
      <li>
        <a href="#expertise" class="hover:text-magenta transition-colors"
          >EXPERIENCIA</a
        >
      </li>
      <li>
        <a href="#projects" class="hover:text-neon transition-colors"
          >PROYECTOS</a
        >
      </li>
      <!-- TODO comentado por revision -->
      <!--      <li><a href="/blog" class="hover:text-neon transition-colors">BLOG</a></li> -->
      <li>
        <a href="#contact" class="hover:text-magenta transition-colors"
          >CONTACTO</a
        >
      </li>
    </ul>
  </div>
</nav>
