<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="http://bivlu.upta.edu.ve/public/" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/1.1.png" class="img-responsive" alt="BIVLU">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                FullStack
                            </div>
                            <div class="project-name">
                                BIVLU - Biblioteca UPTA
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://sistemaweb.bfglobal.pe/public/login" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/2.1.png" class="img-responsive" alt="BF GLOBAL">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                FullStack
                            </div>
                            <div class="project-name">
                                BF Global - Gestión empresarial
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                FullStack
                            </div>
                            <div class="project-name">
                                Automotriz Full Frío 2013 C.A. - Facturación e inventario
                            </div>
                        </div>
                    </div>
                </a>
            </div> 
         
        </div>
        <div class="col-lg-4 col-sm-6">
                <a href="https://am-project.netlify.com" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/4.1.png" class="img-responsive" alt="AM Project">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Maquetación
                            </div>
                            <div class="project-name">
                                AM Project
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        <div class="row no-gutter">
                     <div class="col-lg-4 col-sm-6">
                <a href="https://avilaviajes.netlify.com/" class="portfolio-box" target="_blank">
                    <img src="img/portfolio/5.png" class="img-responsive" alt="Avila Viajes">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Maquetación
                            </div>
                            <div class="project-name">
                                Avila Viajes 
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                FullStack
                            </div>
                            <div class="project-name">
                                Automotriz Full Frío 2013 C.A. - Facturación e inventario
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                +
                            </div>
                            <div class="project-name">
                                Próximamente
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
