<section class="row bg-dark" id="services">

    <div class="col-md-6">
        <h3>Habilidades</h3>

        <p>Mi mayor área de dominio es el desarrollo frontend (client side).
            <br>
            Soy capaz de crear pequeños y medianos websites con CSS/HTML (SASS), Javascript, node, react, maquetas
            dinámicas, pequeñas animaciones, plugins personalizados.
            <br>
            Además, tengo experiencia en el desarrollo full stack, con el manejo de framework como PHP/Laravel, MERN
            stack, CMS (wordpress).

            Por otro lado, en el último año me he estado especializando en el área de diseño de User Interfaz (UI), y
            domino la paquetería de Adobe.</p>
        <a class="btn btn-info" href="#contact">
            ¡Escríbeme!
        </a>

    </div>

  

    <div class="col-md-6" id=" skills-charts">
        <canvas width="500" height="500" id="tag-skills">
            <ul>
                <li>
                    <a href="https://en.wikipedia.org/wiki/HTML" target="_blank">HTML 5</a>
                </li>
                <li><a data-weight="25" href="https://es.wikipedia.org/wiki/Hoja_de_estilos_en_cascada"
                        target="_blank">CSS</a></li>
                <li><a data-weight="25" href="https://es.wikipedia.org/wiki/JavaScript"
                        target="_blank">JavaScript</a></li>
                <li><a data-weight="24" href="https://en.wikipedia.org/wiki/Representational_state_transfer"
                        target="_blank">REST</a></li>
                <li><a data-weight="14" href="https://en.wikipedia.org/wiki/JSON" target="_blank">JSON</a></li>
                <li><a data-weight="26" href="https://en.wikipedia.org/wiki/WordPress" target="_blank">Wordpress</a>
                </li>
                <li><a data-weight="26" href="https://es.wikipedia.org/wiki/React" target="_blank">React JS</a></li>
                <li><a data-weight="26" href="https://en.wikipedia.org/wiki/WordPress" target="_blank">SQL</a></li>
                <li><a data-weight="26" href="https://en.wikipedia.org/wiki/WordPress" target="_blank">MongoDB</a>
                </li>
                <li><a data-weight="26" href="https://en.wikipedia.org/wiki/WordPress" target="_blank">PHP</a></li>
                <li><a data-weight="26" href="https://es.wikipedia.org/wiki/WordPress" target="_blank">Laravel</a>
                <li><a data-weight="26" href="https://es.wikipedia.org/wiki/WordPress" target="_blank">Liquid</a>
                </li>
                <li><a data-weight="21" href="https://es.wikipedia.org/wiki/Node.js" target="_blank">Node JS</a>
                </li>
                <li><a data-weight="17" href="https://en.wikipedia.org/wiki/Git" target="_blank">Git</a></li>
                <li><a data-weight="23" href="https://en.wikipedia.org/wiki/Bootstrap_(front-end_framework)"
                        target="_blank">Bootstrap</a></li>
                <li><a data-weight="15" href="https://en.wikipedia.org/wiki/Sass_(stylesheet_language)"
                        target="_blank">SASS</a></li>
                <li><a data-weight="19" href="https://es.wikipedia.org/wiki/JQuery" target="_blank">jQuery</a></li>
                <li><a data-weight="19" href="http://mongoosejs.com/" target="_blank">NoSQl</a></li>
                <li><a data-weight="19" href="http://gulpjs.com/" target="_blank">Gulp</a></li>
                <li><a data-weight="19" href="https://www.npmjs.com/" target="_blank">npm</a></li>
                <li><a data-weight="14" href="https://es.wikipedia.org/wiki/JavaScript"
                        target="_blank">TypeScript</a></li>
                        
            </ul>

        </canvas>
 
          

    </div> 

</section>