footer {
  color: $theme-base;
  background: $theme-dark;
  border-top: #3430904d 0.5px solid;
  margin-bottom: 0;
  padding: 4rem;
  padding-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "rrss    contact"
    "credits credits";

  .rrss {
    grid-area: rrss;
  }
  .contact {
    grid-area: contact;
  }
  .credits {
    grid-area: credits;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    padding-top: 3rem;
    p {
      font-size: 1.5rem;
    }
  }
}

//modal
.modal-content {
  background-color: #171717de;
  border: 0px solid #3430904d;
}
.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  border-bottom: solid #3430904d 2px;
  padding: 2rem;
  &::before {
    content: none;
  }
  &::after {
    content: none;
  }
  .modal-title {
    font-size: 2rem;
    line-height: 2.5rem;
    color: $theme-cyan;
  }
  .close {
    opacity: 1;
    text-shadow: 0 3px 0 #7113e3;
    font-size: 3rem;
    color: $theme-base;
  }
}

.modal-body{
    p{
        font-size: 1.4rem;
    }
}

.modal-footer {
  border-top: solid #3430904d 2px;
}
