.hero-post {
  width: 100%;
  margin: 0;
  height: 20vh;
  background: $theme-bg;
  .header-blog {
    margin-bottom: 2rem;
  }
}
#post {
  margin: 4rem 0vw;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  width: 80vw;
  padding: 5rem;

  .post-header {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    margin: 4rem 3rem 1rem 3rem;

    h2 {
      margin-top: 0px;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.15rem;
      font-size: 5rem;
      color: $theme-indigo;

      &:hover {
        font-size: 5.5rem;
      }
    }

    .category {
      color: $theme-contrast;
      font-weight: 900;
      text-transform: uppercase;
      font-family: $font-montserrat;
      font-size: 1.2rem;
    }

    a {
      color: $theme-purple;
    }
    .date-string {
      font-family: $font-raleway;
      font-style: italic;
      font-weight: bold;
      align-self: last baseline;
    }
  }

  .post-content {
    background: aliceblue;
    border-radius: 10px;
    color: $theme-bg;
    padding: 4rem 6rem;

    p a {
      color: #6443bb;
      font-weight: bold;
      &:hover{
        font-size: 2.2rem;
      }
    }

    code {
      background: #cbc2e5;
      color: $theme-sadad;
    }

    pre {
      background: #242424;

      code {
        background: transparent;
        color: #62eff1;
      }
    }
  }
}
@media (max-width: $bp-movil-lg) {
  .header-blog {
    font-size: 4rem;
  }
  #post {
    width: 100vw;
    padding: 2rem;
    .post-header {
      align-content: normal;
      flex-wrap: wrap;
      flex-direction: column;
      margin: 0rem 3rem 1rem 3rem;
      h2 {
        letter-spacing: 0.15rem;
        font-size: 2rem;

        &:hover {
          font-size: 2.5rem;
        }
      }

      .category {
        font-size: 1rem;
      }

      .date-string {
        font-size: 1rem;
        margin-botton: 0;
      }
    }
    .post-content {
      padding: 2rem 1rem;
      p {
        font-size: 1rem;
      }
      code {
        background: #cbc2e5;
        color: $theme-sadad;
      }

      pre {
        font-size: 1rem;
        code {
          font-size: 1rem;
        }
      }
    }
  }
}
