---
---


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800;900&family=Raleway:wght@500;700;800;900&display=swap');

@charset "utf-8";
$font-montserrat: 'Montserrat', sans-serif;
$font-raleway: 'Raleway', sans-serif;
// Example Defaults
// $base-font-family: Helvetica, Arial, sans-serif;
// $base-font-size:   16px;
// $small-font-size:  $base-font-size * 0.875;
// $base-line-height: 1.5;

// $spacing-unit:     30px;

// $text-color:       #111;
// $background-color: #fdfdfd;
// $brand-color:      #2a7ae2;

// $grey-color:       #828282;
// $grey-color-light: lighten($grey-color, 40%);
// $grey-color-dark:  darken($grey-color, 25%);

// // Width of the content area
// $content-width:    800px;

// $on-palm:          600px;
// $on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
//paleta
$theme-purple: #343090; //oscurro
$theme-indigo: #5f59f7;
$theme-celeste:#6592fd;
$theme-cyan:#44c2fd;
$theme-sadad: #FE0853;
$theme-lila: #8c61ff;
// variables.less
$theme-primary: #420992;
$theme-contrast: #81d6fd;
$theme-acents: #c7b3ff;
$theme-dark: #171717;
$theme-bg: #1d1d1d;
$theme-base: #d8d6d6;



//Breakpoints
//movils
$bp-movil-sm: 330px;
$bp-movil-md: 390px;
$bp-movil-lg: 420px;
//tablets
$bp-tablet-sm: 600px;
$bp-tablet-md: 768px;
$bp-tablet-lg: 834px;
//desktop
$bp-laptop-md: 1280px;
$bp-laptop-sm: 1440px;



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "mixins",
        "base",
        "card",
        "post",
        "footer"
;
