<!DOCTYPE html>
<html lang="es">
  {% include head.html %}

  <body class="bg-black text-white">
     {% include navbar.html %}
     <div class="container mx-auto max-w-7xl">
     {% include project/hero.html %}
     {% include project/stack.html %}
     {% include project/gallery.html %}
     {% include project/featured-section.html %}
     {% include project/architecture.html %}
     {% include project/challenge.html %}
     {% include project/results.html %}
     {% include project/testimonials.html %} 
</div>

    {% include upbutton.html %} {% include footer.html %} {% include
    scripts.html %}
  </body>
</html>
